* {
  margin:  0;
  padding:  0;
  box-sizing:  border-box;
}

.cardHighlight {
  min-height:  100%;
}

.footer {
    background-color: green;
    border-top: 2px ;
    position: bottom;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 25px;
}

/*styling for scroll(below)*/
/*.marquee {
    height: 100%;
    width:100%;
    overflow: hidden;
    position: relative;
}

.marqueeContentContainer {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-evenly;
    height: 100%;
    -moz-animation: scroll-left 20s linear infinite;
    -webkit-animation: scroll-left 20s linear infinite;
    animation: scroll-left 20s linear infinite;
    color: #fb7b61;
}

@keyframes scroll-left {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}*/